
body {
    /* background-color: rgb(255, 229, 180); */
    /* /* margin: 0; */
    /* padding: 0; */
    background-color: rgb(255, 229, 180);
    /* background-size: 50% auto; */
    /* z-index: 1; */

    /* height: 100%; */
 
}

/* .curtain {
  z-index: 7;
}

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(248, 203, 121);
  animation: leftSlide 2s ease-in-out forwards paused;
  z-index: 7;
  animation-play-state: running;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(248, 203, 121);
  animation: rightSlide 2s ease-in-out forwards paused;
  z-index: 7;
  animation-play-state: running;
}

@keyframes leftSlide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes rightSlide {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
} */


.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -70px; */
  top:0;
  left: 0;
  /* margin-left: 70px; */
  width: 100%;
  height: 100vh;
  padding: 0%;
  z-index: 10;
  animation: containerSlide 2s ease-in-out forwards paused;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7);
  /* animation-play-state: paused; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes containerSlide {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

/* .container img {
  display: flex;
  height: 400px;
  margin-top: 200px;
  margin-left: 100px;
  padding: 25px;
} */
.container p {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
  font-size: 20px;
  padding: 15px;
  color: rgb(12, 13, 14);
}

.box {
  position: relative;
  text-align: center;
  /* border: 1px red solid; */
  padding: 30px;
  background-color: #fff;
  background-color: rgb(253, 239, 214);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  width: 100%;
}

.start-button {
  position: absolute; /* position relative to .box */
  bottom: 0; 
  right: 0; 
  padding: 10px;
}

button {
  background-color: rgb(251, 187, 68);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(62, 64, 70);
  cursor: pointer;
}

/* ------------------------------------------------------ */
header {
  /* border: 1px solid black;  */
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding-right: 10px; */
}
.logo-container {
  /* position: absolute;
  top: 10px;
  left: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;  */
  /* z-index: 2;  */
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 150px;
}

.company-name {
  /* margin-left: 10px;  */
  /* margin-top: -7px; */
  font-size: 50px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(142, 141, 141);
  /* color: rgb(248, 93, 93); */
}
.search-wrapper {
    /* border: 1px solid black; */
    max-width: 450px;
    margin: 150px auto;
    border: none;
    /* z-index: 999; */
    /* margin-top: -600px; */
}

.stock-search-bar {
    position: relative;
    background-color: rgba(255,255,255,.1);

    width: 100%;
    border-radius: 20px;
    /* z-index: 999; */
    border: none;
}

.stock-options {
    margin-top: 10px;
    /* padding: ; */
    border-radius: 20px;
    border: none;
}
#stock-list {
    list-style-type: none;
    padding: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.4);
  }
  
  #stock-list li {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    /* border: 1px solid rgb(113, 43, 43); */
  }
  
  #stock-list li:hover {
    background-color: #e5e5e5;
  }
  
  #stock-input {
    height: 55px;
    width: 100%;
    border-radius: 20px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s;
    border: none;
    background-color: rgba(255,255,255,.5);
  }
  
  #stock-input::after {
    content: "";
    position: absolute;
    bottom: -1px; /* Adjust the bottom position */
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #441e1e;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  #stock-input.active {
    border-color: #888888;
  }
  
  #stock-input.active::after {
    transform: scaleX(1);
  }
  
      
.graph-container {
    display: static;
    width: 50%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: static;
}
.button-container {
  display: flex;
  justify-content:space-between;
}
#graph {
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.timeFrameButton {
    display: none;
    height: 50px;
    width: 150px;
    background-color: rgb(249, 166, 166);
    border: none;
    border-radius: 10px 35px 0 0;
    color: white;
    font-weight: 800;
}

.timeFrameButton.active {
  background-color: rgb(118, 117, 117);
}

.timeFrameButton:not(.active):hover {
  background-color: #9a9999;
  transform: scale(1.05);
  cursor: pointer;
}