/* .header {
    height: 100px;
    width: auto;
    background-color: rgb(249, 193, 119);
    z-index: 2;
} */
body {
    /* background-color: rgb(255, 229, 180); */
    margin: 0;
    padding: 0;
    background-color: rgb(255, 229, 180);
    background-size: 50% auto;
    /* z-index: 1; */

    /* height: 100%; */
 
}
.search-wrapper {
    max-width: 450px;
    margin: 150px auto;
    border: none;
}

.stock-search-bar {
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    border: none;
}

.stock-options {
    border-radius: 20px;
    border: none;
}
#stock-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  #stock-list li {
    padding: 10px;
    border: 1px solid rgb(204, 203, 203);
  }
  
  #stock-list li:hover {
    background-color: #e5e5e5;
  }
  
  #stock-input {
    height: 55px;
    width: 100%;
    border-radius: 20px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s;
    border: none;
  }
  
  #stock-input::after {
    content: "";
    position: absolute;
    bottom: -1px; /* Adjust the bottom position */
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #888888;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  #stock-input.active {
    border-color: #888888;
  }
  
  #stock-input.active::after {
    transform: scaleX(1);
  }
  
      
.graph-container {
    width: 50%;
    margin: auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.button-container {
  display: flex;
  justify-content:space-between;
}
#graph {
    background-color: white;
}

.timeFrameButton {
    display: none;
    height: 50px;
    width: 150px;

}